# Large dataset folders
Baggages/
xray_runs/
xray_yolo_dataset/

# Model files (too large for GitHub)
*.pt
*.keras
*.h5
*.weights
*.csv

# Python cache
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Mac
.DS_Store

# Logs
*.log

# Environment
venv/
env/

#Misc Items
test_detection.png
XRay_Import.mp4